.App {
  text-align: center;
  background-color: #dae0e6;
}

.App-logo {
  height: 25px;
  color: blue;
  pointer-events: none;
}


.App-header {
  background-color: white;
  min-height: 40px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between ;
  color: black;
  padding: 0px;
  margin: 0px 0px 50px 0px;
  
  /*box-shadow: 0px 10px 10px rgba(204, 204, 204, 0.781); */
}

.App-compartiment{
  width: 250px;
}

.App-header h3{
  font-size: 30px;
}

.App-header svg{
  height: 15px;
}

.App-header h3 svg{
  height: 25px;
}

.App-header h3 svg, .App-header span{
  color: rgb(21, 21, 221);
}

.SearchBar input{
  border: solid 1px rgb(128, 128, 128);
  background-image: url(./ressources/icons/searchIcon.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5% 50%;
  padding: 10px 150px 10px 55px;
  align-content: center;
  color: #6d6d6d;
}

.App-link {
  color: #61dafb;
}

.Body{
  display: flex;
}

.Article {
  background-color: white;
  justify-self: center;
  min-width: 60%;
  max-width: 60%;
  margin: 20px 38%;
  padding: -5px;
  display: flex;
  flex-direction: row;
  border: solid 0.5px rgba(109, 109, 109, 0.5);
  border-radius: 5px;
}

.Article:hover{
  border: solid 0.5px rgba(109, 109, 109);
}

.ArticleLikes {
  font-size: 12px;
  width: 50px;
  margin: 10px 0px;
}

.SubArticle{
  width: 80%;
  text-align: start;
  margin-left: 10px
}

.SubArticle a{
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.SubArticle span a{
  text-align: start;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  color: #0079D3
}

.SubArticle span svg{
  color: #0079D3
}

.ArticleInfo{
  text-align: start;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: rgb(109, 109, 109);
  margin-bottom: 0px;
}

.ArticleInfo a{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.Article a:hover{
  text-decoration: underline;
}

.ArticleInfo span a{
  color:rgb(109, 109, 109)
}

.ArticleInfo img{
  height: 25px;
  border-radius: 50%;
}

.btn-groupe{
  display: flex;
  align-items: flex-start;
  margin: 10px 0px;
  font-size: 12px;
}

.btn-groupe svg{
  pointer-events: none;
}

.btn-groupe button{
  text-align: center;
  border: none;
  color: rgb(109, 109, 109);
  background-color: white;
  cursor: pointer;
}

.btn-groupe button:hover {
  background-color: rgb(184, 184, 184);
}

.btn-groupe a:hover {
  text-decoration: none;
}

.SubArticle svg{
  color: rgb(109, 109, 109);
  height: 17px;
  width: 17px;
}

.ArticleContent{
  display: flex;
  justify-content: center;
  align-content: center;
}

.ArticleContent img, .ArticleContent video{
  width:fit-content;
  max-width: 100%;
  justify-self: center;
  align-self: center;
}

.Categories{
  text-align: center;
  margin: 20px;
  min-width: 27%;
  max-width: 27%;
  background-color: white;
  padding: -5px;
  height: fit-content;
}

.btn-Categories{
  display: flex;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  flex-direction: row wrap;
  margin: 10px 10px;
  font-size: 12px;
}

.btn-Categories svg{
  pointer-events: none;
}

.btn-Categories button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95px;
  text-align: center;
  border: none;
  color: #6d6d6d;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
}

.btn-Categories button:hover {
  background-color: rgb(184, 184, 184);
}

.btn-Categories button:active {
  background-color: rgba(184, 184, 184, 0.4);
}

.Subreddit-Categories li{
  list-style: none;
}

.Subreddit-Categories button{
  color: #6d6d6d;
  background-color: white;
  cursor: pointer;
  text-align:left;
  padding: 5px 10px;
  margin: 20px;
  border: 0.2px solid rgb(184, 184, 184);
  border-radius: 10% / 50%;
  font-size: 18px;
}

.Subreddit-Categories button:hover{
  background-color: rgb(184, 184, 184);
}

.Subreddit-Categories button:active{
  background-color: rgba(184, 184, 184, 0.4);
}

.Footer{
  margin: 0px;
  padding: 25px;
  background-color: #dae0e6;
}